<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
  <link rel="stylesheet" href="/sres.css">
</head>
<body>
  <h1>Search Results</h1>
  <% if (books && books.length > 0) { %>
    <ul>
      <% books.forEach((book) => { %>
        <li style="font-size: 18px">
          Title: <%= book.title %><br>
          Author: <%= book.author %><br>
          Year: <%= book.year %><br>
          Course: <%= book.course %><br>
          College ID: <%= book.id %><br>
          Contact No: <%= book.number %><br>
        </li>
        <hr style="width: 50%; text-align: left; margin-left: 0;">
      <% }); %>
    </ul>
  <% } else { %>
    <p>No books found.</p>
  <% } %>

  <div class="row">
    <div class="col-lg-12">
      <a href="/prac/" class="button"><span>&#8592;</span> Back to Home</a>
    </div>
  </div>
</body>
</html>
